body {
  background-color: #0a1931;
}
.background {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.font {
  font-family: "Roboto", sans-serif;
}
.todo-container {
  background-color: #edf6e5;
  padding: 50px;
}
